"*":
  "atom-beautify":
    general:
      _analyticsUserId: "041b7f65-8d56-4471-9624-bffc939fbe6d"
  core:
    customFileTypes:
      "source.ini": [
        ".buckconfig"
        ".hgrc"
        ".flowconfig"
      ]
      "source.json": [
        ".arcconfig"
        "BUCK.autodeps"
      ]
      "source.python": [
        "BUCK"
      ]
    disabledPackages: [
      "bookmarks"
      "language-c"
      "language-clojure"
      "language-coffee-script"
      "language-csharp"
      "language-go"
      "language-hyperlink"
      "language-make"
      "language-mustache"
      "language-objective-c"
      "language-perl"
      "language-python"
      "language-sql"
      "language-toml"
      "metrics"
      "styleguide"
      "welcome"
    ]
    openEmptyEditorOnStart: false
    themes: [
      "seti-ui"
      "duotone-dark-sea-syntax"
    ]
  editor:
    fontFamily: "Fira Mono"
    fontSize: 18
    invisibles:
      space: "‧"
    lineHeight: 1.45
    showIndentGuide: true
    showInvisibles: true
  "exception-reporting":
    userId: "c6a01a6c-190d-58db-16fe-6d9620c79da8"
  "linter-eslint":
    fixOnSave: true
  nuclide:
    "nuclide-file-tree":
      revealFileOnSwitch: true
      showOpenFiles: false
    "nuclide-home":
      showHome: false
    "nuclide-working-sets": {}
    use:
      "nuclide-file-tree": false
      "nuclide-side-bar": false
      "nuclide-source-control-side-bar": false
  "tree-view":
    hideVcsIgnoredFiles: true
  welcome:
    showOnStartup: false
