packages: [
  "atom-beautify"
  "auto-update-packages"
  "duotone-dark-sea-syntax"
  "editorconfig"
  "highlight-selected"
  "language-babel"
  "line-length-break"
  "linter"
  "linter-eslint"
  "linter-jsonlint"
  "package-sync"
  "pigments"
  "seti-ui"
  "smart-tab-name"
  "sort-lines"
]
